%h1 Listing products

%table.table.table-striped
  %thead
    %tr
      %th Name
      %th Price
      %th Image
      %th
      %th

  %tbody
    - @products.each do |product|
      %tr
        %td= link_to product.name , product
        %td= number_to_currency product.price , unit: 'THB '
        %td= image_tag product.image.thumb , width: '150' , height: '150'
        %td= link_to 'Edit', edit_product_path(product)
        %td= link_to 'Destroy', product, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Product', new_product_path , class: 'btn btn-primary'
